@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


html
{
    background-color: white;
}

body
{
    margin: 0px;
}

*
{
    box-sizing: border-box;
    font-family: Roboto;


}

button:hover
{
    cursor: pointer;
}

input{
    border: 0px solid transparent;
}

button{
    border: 0px solid transparent;
}