.div-buttonaside{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-buttonaside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;

}

.div-buttonaside :hover
{
    background-color: #7AAC51;
}

@media screen and (max-width:1023px) {
    
    .div-buttonaside{
        height: 90%;
        width: auto;
    }

    .button-buttonaside{
        font-size: 80%;
    }

    .button-buttonaside img{
        height: 30%;
        width: auto;
    }

}