.ul-dropdown
{
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #EEECCA;
    position: absolute;
    right: 0%;
    top: 9vh;
    border-bottom-left-radius: 1rem;
    border: 2px green  solid;
}

.ul-dropdown li{

    list-style: none;
    width: 100%;

}

.ul-dropdown button{

    border: none;
    background-color: transparent;
    width: 100%;
    height: 5vh;

    font-weight: 700;
    font-size: medium;
}


.ul-dropdown li :hover{

    background-color: #84B053;
    width: 100%;
}