@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    font-family: Roboto;
}

.div-header-container{

    flex-wrap: wrap;
    
    width: 100%;
    height: 9vh;
    padding: 0.4rem;

    display:flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #7AAC51;
}

.div-header-logo{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50vw;
    height: 100%;
}

.div-header-logo img{
    height: 80%;
    margin: 1rem;
}

.div-menu{
    width: 100%;
    background-color: bisque;
}

@media screen and (max-width:1023px) {
    
    .div-header-logo img{
        height: 90%;
        width: auto;
    }
}